<div class="over-all">
  <!-- <div class="task-body-container">
    <div class="task_Click">
      <button style="border:none ; background-color:white;">
        <i class="uil uil-angle-left-b"></i>
      </button>
    </div>
    <div class="container">
      <div class="add_box">
        <input placeholder="Add new task..." style="border-radius: 5px;">
        <div class="box-icon1">
          <button class="add-Button"><i class="uil uil-plus" style="font-size:150%;"></i>
          </button>
        </div>
      </div>
      <div class="wrap-container" cdkDropListGroup>
        <div class="wrap-content">
          <div class="title">
            <h2>To do</h2>
          </div>

          <div class="tasks-container" cdkDropList #todolist="cdkDropList" [cdkDropListData]="todo"
            (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of todo" cdkDrag>
              <div class="task-detail">
                <div class="task-Title">
                  <h2 style="font-size: 18px; font-weight: bold;">{{item.title}}</h2>
                  <h3 style="margin-left: 0px;">{{item.content}}</h3>
                </div>
                <img class="user-Img"
                  src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.15752-9/284781432_2881526582155047_7043290483571551769_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=HhFZrAQ4OuMAX-9lm-X&_nc_ht=scontent.fsgn5-6.fna&oh=03_AVJbKm_pJmGES4wahfXm2M-wDgQntVDa5xxpPTAW4HAyhQ&oe=62E9DFE3">
              </div>
            </div>
          </div>
        </div>


        <div class="wrap-content">
          <div class="title">
            <h2>In Progress</h2>
          </div>
          <div class="tasks-container" cdkDropList #todolist="cdkDropList" [cdkDropListData]="inprogress"
            (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of inprogress" cdkDrag>
              <div class="task-Title">
                <h2 style="font-size: 18px; font-weight: bold;">{{item.title}}</h2>
                <h3 style="margin-left: 0px;">{{item.content}}</h3>
              </div>
              <img class="user-Img"
                src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.15752-9/284781432_2881526582155047_7043290483571551769_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=HhFZrAQ4OuMAX-9lm-X&_nc_ht=scontent.fsgn5-6.fna&oh=03_AVJbKm_pJmGES4wahfXm2M-wDgQntVDa5xxpPTAW4HAyhQ&oe=62E9DFE3">
            </div>
          </div>

        </div>


        <div class="wrap-content">
          <div class="title">
            <h2>Done</h2>
          </div>
          <div class="tasks-container" cdkDropList #todolist="cdkDropList" [cdkDropListData]="done"
            (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of done" cdkDrag>
              <div class="task-Title">
                <h2 style="font-size: 18px; font-weight: bold;">{{item.title}}</h2>
                  <h3 style="margin-left: 0px;">{{item.content}}</h3>
              </div>
              <img class="user-Img"
                src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.15752-9/284781432_2881526582155047_7043290483571551769_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=HhFZrAQ4OuMAX-9lm-X&_nc_ht=scontent.fsgn5-6.fna&oh=03_AVJbKm_pJmGES4wahfXm2M-wDgQntVDa5xxpPTAW4HAyhQ&oe=62E9DFE3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="task-body-container">
    <div class="dashBoard-container">
      <div class="dashBoard_Title">
        <button style="border:none; background-color:white;">
          <i class="uil uil-angle-left-b"></i>
        </button>
        <h1>Group's task list</h1>
      </div>
      <div class="dashBoard_AddNew">
        <div class="add_box">
          <input placeholder="Add new task...">
          <div class="box-icon1">
            <button class="add-Button"><i class="uil uil-plus" style="font-size:150%;"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="dashBoard_Content">
        <div class="wrap-container-columns">
          <div class="wrap-column" cdkDropListGroup>

          </div>
          <div class="wrap-column" cdkDropListGroup>
            
          </div>
          <div class="wrap-column" cdkDropListGroup>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="task-Description">

  </div>

  <!-- <div class="task-Description">
    <div class="delete-n-closeTask">

      <button style="border: none; background-color:#727076;"><i class="uil uil-trash-alt"></i></button>
      <button style="border: none; background-color:#727076;"><i class="uil uil-multiply"></i></button>
    </div>
    <hr>
    <div class="title-Description">
      <h3 style="font-weight: bold">Title</h3>
      <div class="wrap-title-Description">
        <textarea></textarea>
      </div>
    </div>
    <button class="dropdownBtn" mat-button [matMenuTriggerFor]="menu" style="width: 45%;height: 40px;">In Progress
      <i class="uil uil-angle-down"></i>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>To Do</button>
      <button mat-menu-item>Done</button>
    </mat-menu>
    <div class="Description">
      <h3 style="font-weight: bold">Description</h3>
      <div class="wrap-Description">
        <textarea rows="100"></textarea>
      </div>
    </div>
    <div class="details-Description">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight:bold;">
            Details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <hr>
        <div class="detail-Expand">
          <div class="assignee-Detail">
            <p style="font-weight: bold;">Assignee</p>
            <img class="assignee-Img"
              src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.15752-9/284781432_2881526582155047_7043290483571551769_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=HhFZrAQ4OuMAX-9lm-X&_nc_ht=scontent.fsgn5-6.fna&oh=03_AVJbKm_pJmGES4wahfXm2M-wDgQntVDa5xxpPTAW4HAyhQ&oe=62E9DFE3">
            <p>Trong</p>
          </div>
          <div class="reporter-Detail">
            <p style="font-weight: bold;">Reporter</p>
            <img class="reporter-Img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWbxT6GMI5BJJd9ixuP2ijrKzKxaQREiDl1g&usqp=CAU">
            <p>Trung</p>
          </div>
          <div class="deadline-Detail">
            <p style="font-weight: bold;">Deadline</p>
            <mat-datepicker #picker>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            </mat-datepicker>
            <input matInput [matDatepicker]="picker">


          </div>

          <div class="priority-Detail">
            <p style="font-weight: bold;">Priority</p>
            <button class="priorityBtn" mat-button [matMenuTriggerFor]="menu">Medium
              <i class="uil uil-bookmark-full"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Low</button>
              <button mat-menu-item>High</button>
            </mat-menu>
          </div>
        </div>
      </mat-expansion-panel>

    </div>
  </div> -->
</div>